<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="com.seventailed.engine.logger.EngineLoggerAppender"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>